html {
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

 body {
   min-height: 100%;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;
}
